PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=company_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwVXbmSEaKpBwnfTxzdx2
qAHwLKfZqkRpogc+rmeLwMiup04U5/28+MJIFw2EVTjDLIkpVvnENnanYMdcDBWt
lZlPV1DyrCmramViCP5IVile1IgKt5Oy9W38d2CQHswJzo9FjbfiWE6cG/hMubIY
7BtbgcdZJ6Kig4TvqKS2Al4inWZvTRygdSz6QwjkqHdDqXUQjXVtJJlRDqat2paK
aK3MNH3IoOAC0EeKcIBpvB+vN6sbTKExxhHZ2/+k7GMKgYKjdfnSDTStLRorU+v8
T9SFcyd17dqIXzv0yU/8EvAe1WlnFfJH9SUqdbc+AJwU3EC3PNgd25C/aNFbeG6R
CQIDAQAB
-----END PUBLIC KEY-----
