PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=company_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Optional: overrides discrete vars if set
# DATABASE_URL=postgresql://postgres:postgres@localhost:5433/company_db
